.features {
  display: flex;
  align-items: center;
  padding: 3rem 0;
  width: 100%;
}

.featureSvg {
  height: 180px;
  width: 180px;
  margin-bottom: 1rem;
  transition: transform 0.3s ease;
}

.featureSvg:hover {
  transform: scale(1.05);
}
